*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:verdana;
}

/* ================= HEADER ================= */
.header{
  width:100%;
  background:black;
}

.innerheader{
  max-width:1000px;
  height:50px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10px;
}

.logo{
  font-size:27px;
  color:white;
  font-weight:bold;
  white-space:nowrap;
}

/* ================= MENU ================= */
.menu{
  white-space:nowrap;
}

.menu ul{
  list-style:none;
  display:flex;
}

.menu ul li a{
  display:block;
  padding:0 18px;
  line-height:50px;
  text-decoration:none;
  color:white;
}

.menu ul li a:hover{
  background:rgb(126,209,230);
}

.active{
  background:green;
}

/* ================= BANNER ================= */
.banner{
  max-width:1000px;
  height:300px;
  margin:15px auto;
}

.imgbanner{
  width:100%;
  height:300px;
}

/* ================= CONTENT ================= */
.content{
  display:flex;
  flex-wrap:wrap;
  max-width:1000px;
  margin:auto;
  justify-content:space-between;
}

.cnt1,.cnt2,.cnt3,
.cnt4,.cnt5,.cnt6{
  width:32%;
  margin-top:35px;
}

h2{
  color:white;
  padding:5px;
  background:black;
}

p{
  padding:5px;
  text-align:justify;
}

.rm{
  color:white;
  background:black;
  padding:8px 25px;
  text-decoration:none;
  display:inline-block;
  margin:5px;
}

/* ================= FOOTER ================= */
.footer{
  width:100%;
  height:50px;
  line-height:50px;
  color:white;
  background:black;
  font-weight:bold;
  text-align:center;
}

/* ================= TABLET ================= */
@media screen and (max-width:1000px){

  .content{
    justify-content:space-around;
  }

  /* 2 items per row */
  .cnt1,.cnt2,.cnt3,
  .cnt4,.cnt5,.cnt6{
    width:45%;
  }
}

/* ================= MOBILE ================= */
@media screen and (max-width:768px){

  .innerheader{
    flex-direction:column;
    height:auto;
  }

  .menu ul{
    flex-direction:column;
    width:100%;
  }

  .menu ul li a{
    width:100%;
    text-align:center;
    border-top:1px solid #333;
  }

  /* 1 item per row */
  .cnt1,.cnt2,.cnt3,
  .cnt4,.cnt5,.cnt6{
    width:95%;
  }
}
